@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.main-app-container {
  padding-top: 2em;
}

.main-app-nav {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;

  .search {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    .fa-search {
      position: absolute;
      top: 15%;
      right: 5%;
      margin-left: 17px;
      margin-top: 17px;
      z-index: 1;
      color: #4f5b66;
    }

    input[type="text"] {
      width: 300px;
      padding: 20px;
      font-size: 20px;
      border: solid 2px #dcdcdc;
      transition: box-shadow 0.3s, border 0.3s;
    }
    input[type="text"]:focus,
    input[type="text"].focus {
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
    }
  }

  button {
    background-color: #CCC;
    border: none;
    height: 30px;
    width: 80px;
    margin-left: 1em;
    margin-right: 1em;

    &:hover {
      background-color: $accent-gray;
    }
  }
}

.spinner-container {
  text-align: center;
  .fa-spinner {
    font-size: 50px;
    margin-top: 80px;
  }
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}
.col {
  padding: 20px;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width:960px){
  .col {
    flex: 1;
    width: 32%;
  }
}

@media only screen and (max-width:1200px) and (min-width:960px) {
  .col {
    flex: 1;
    width: 50%;
  }
}


footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}
